<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="phone">
            <h2><span jhiTranslate="modernProjectApp.phone.detail.title">Phone</span> {{ phone.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="modernProjectApp.phone.phoneNumber">Phone Number</span></dt>
                <dd>
                    <span>{{ phone.phoneNumber }}</span>
                </dd>
                <dt><span jhiTranslate="modernProjectApp.phone.startYear">Start Year</span></dt>
                <dd>
                    <span>{{ phone.startYear }}</span>
                </dd>
                <dt><span jhiTranslate="modernProjectApp.phone.endYear">End Year</span></dt>
                <dd>
                    <span>{{ phone.endYear }}</span>
                </dd>
                <dt><span jhiTranslate="modernProjectApp.phone.person">Person</span></dt>
                <dd>
                    <div *ngIf="phone.person">
                        <a [routerLink]="['/person', phone.person?.id, 'view']">{{ phone.person?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/phone', phone.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
